.btn-primary{
    background-color:purple ;
    border-color: #440944;
}

.btn-primary:hover {
    background-color: #be07be;
}

body {
    background-image: url("images/gym2.jpg");
    background-color: #be07be;
    background-size: 2000px 1076px;
}

.checkbox {
    color: white;
}