header{
    background: rgba(69, 0, 118, 0.84);
}
.btnproduct {
    background-color: rgba(69, 0, 118, 0.84);
}

.btnproduct:hover {
    background-color: grey;
}
.products {
    display: flex;
    justify-content: center;
    padding: 5px;
}
.btntext {
    display: flex;
    justify-content: center;
}